body{
    padding: 0;
    margin: 0;
}
/* h1{
    text-align: center;
} */
.container{
    margin-bottom: 20px;
}
th,td{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
table{
    border-radius: 5px;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
th{
    background-color: blue;
    color: white;
}
.but{
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: blue;
    color: white;
}
.add{
    border-radius: 50%;
    position: fixed;
    font-size: 2rem;
    width: 45px;
    height: 45px;
    background-color: blue; 
    bottom:20px;
    right: 20px;
    z-index: 1000;
    color: white;
}
button:hover{
    background-color: red;
    transform: scale(1.2);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Semi-transparent background */
    justify-content: center; /* Center the modal content */
    align-items: center;
}
.modal-content {
    position: relative;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 5px;
    height: 30vw;
    width: 50vw; /* You can adjust the size */
}
.modal h2{
    text-align: center;
}
.save{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: blue;
    font-size: 15px;
    color: white;
}
input{
    width: 100%;
    height: 30px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal form {
    height: 90%;
    width: 90%;
    display: grid;
    gap: 2px;
}
.close{
    position: absolute; /* Position relative to modal-content */
    top: 10px; /* Distance from the top */
    right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: blue;
    font-size: 15px;
    color: white;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    height: 3vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}